<div class="wm_signup_container">
    <div class="wm_signup_titulo">
        <p>Registro-Primera Cita</p>
    </div>
    <form action="/registrar" method="post">
        <div class="wm_signup_msg">
            <p>¡Su usuario será su número de documento!</p>
        </div>
        <div class="wm_signup_form">
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_tdocument">Tipo de documento</label>
                <select name="wm_signup_tdocument" id="wm_signup_tdocument">
                    <option value=""></option>
                    <option value="cedula">Cédula</option>
                    <option value="tarjeta-identidad">Tarjeta de Identidad</option>
                    <option value="registro">Registro</option>
                </select>
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_cedula">Nro. Documento:</label>
                <input type="text" name="wm_signup_cedula" id="wm_signup_cedula" placeholder="Cédula" required=""
                    value="{{wm_signup_cedula}}">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_nombre">Nombres:</label>
                <input type="text" name="wm_signup_nombre" id="wm_signup_nombre" placeholder="Primer nombre" required=""
                    value="{{wm_signup_nombre}}">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_apellido">Apellidos:</label>
                <input type="text" name="wm_signup_apellido" id="wm_signup_apellido" placeholder="Primer nombre"
                    required="" value="{{wm_signup_apellido}}">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_telefono">Télefono:</label>
                <input type="text" name="wm_signup_telefono" id="wm_signup_telefono" placeholder="Teléfono" required=""
                    value="{{wm_signup_telefono}}">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_telefono2">Télefono 2:</label>
                <input type="text" name="wm_signup_telefono2" id="wm_signup_telefono2" placeholder="Teléfono 2"
                    required="" value="{{wm_signup_telefono}}">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_email">Email:</label>
                <input type="text" name="wm_signup_email" id="wm_signup_email" placeholder="Email" required="" value="">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_aseguradora">Aseguradora:</label>
                <select name="wm_signup_aseguradora" id="wm_signup_aseguradora">
                    <option value="mutualser">Mutualser</option>
                    <option value="colpatria">Colpatria</option>
                    <option value="sanitas">Sanitas</option>
                    <option value="colsanitas">colsanitas</option>
                </select>
            </div>
            <div class="wm_signup_radio" style="display: block !important;">
                <label class="wm_signup_label">Elija su sexo</label>
                <div style="display: flex !important">
                    <p>Masculino</p>
                    <input type="radio" name="sexo" value="masculino">
                    <p>Femenino</p>
                    <input type="radio" name="sexo" value="femenino">
                    <p>Otro</p>
                    <input type="radio" name="sexo" value="otro">
                </div>
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_fechanacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="wm_signup_fechanacimiento" id="wm_signup_fechanacimiento"
                    placeholder="Primer nombre" required="">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_signup_direccion">Dirección</label>
                <input type="text" name="wm_signup_direccion" id="wm_signup_direccion" placeholder="Dirección" required="">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_sign_up">Contraseña:</label>
                <input type="password" name="wm_signup_password" id="wm_signup_password" minlength="4" maxlength="4"
                    placeholder="Contraseña" required="Password">
            </div>
            <div class="wm_signup_input">
                <label class="wm_signup_label" for="wm_sign_up">Confirmar Contraseña:</label>
                <input type="password" name="wm_signup_confirmpass" id="wm_signup_confirmpass" minlength="4"
                    maxlength="4" placeholder="Confirmar contraseña" required="Password">
            </div>
        </div>
        {{!-- <div class="wm_signup_subtitulo">
            <p>Primera cita</p>
        </div>
        <div class="wm_signup_input">
            <label class="wm_signup_label" for="wm_signup_especialidad">Especialidad:</label>
            <select name="wm_signup_especialidad" id="wm_signup_especialidad">
                <option value="Optometria">Optometría</option>
                <option value="Oftalmologia">Oftalmología</option>
                <option value="ortopedia">Ortopedia</option>
                <option value="cirugia">cirugia</option>
            </select>
        </div> --}}
        {{!-- mensajes de error --}}
        <div id="usererr_msg">{{>messageserr}}{{>messages}}</div>
        <div class="wm_signup_button">
            <button>Registrarse</button>
        </div>
    </form>
</div>
<script src="/js/jssignup/signup.js"></script>
{{!-- https://codingpotions.com/input-autocompletado-javascript --}}